
build/
bin/
Bin/
obj/
.lock-wscript
*.log
*.userprefs
*.pidb
%temp%
TestResult.xml
local.*
*.suo
*.o
*.swp
*.user

/tests/skeleton/client/*
!/tests/skeleton/client/Assets/
!/tests/skeleton/client/*.bat
/tests/skeleton/client/Library
